[package]
name = "schema_plugin"
version = "0.1.0"
edition = "2021"
license = "MIT"
publish = false

[lib]
crate-type = ['cdylib']

[dependencies]
extism-pdk = "0.3.3"
proto_pdk = { version = "0.6.2" }            # , path = "../../proto/crates/pdk" }
proto_schema_plugin = { version = "0.11.0" } # , path = "../../proto/crates/schema-plugin" }
regex = "1.9.3"
serde = "1.0.185"
serde_json = "1.0.105"
toml = "0.7.6"

[dev-dependencies]
proto_pdk_test_utils = { version = "0.5.5" } # , path = "../../proto/crates/pdk-test-utils" }
starbase_sandbox = "0.1.8"
tokio = "1.32.0"
