[package]
name = "schema_plugin"
version = "0.0.1"
edition = "2021"
license = "MIT"
publish = false

[lib]
crate-type = ['cdylib']

[dependencies]
extism-pdk = "0.3.3"
proto_pdk = "0.4.2"
proto_schema_plugin = { version = "0.8.1", path = "../../proto/crates/schema-plugin" }
regex = "1.9.3"
serde = "1.0.183"
serde_json = "1.0.104"
starbase_utils = { version = "0.2.17", default-features = false, features = [
	"toml",
] }

[dev-dependencies]
proto_pdk_test_utils = "0.3.3"
starbase_sandbox = "0.1.8"
tokio = "1.30.0"
